# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
coverage/

# Logs
*.log

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Cache
.cache/
.parcel-cache/

# OS
.DS_Store
